.book-header {
    display: none !important;
}

.summary > li:last-child {
    display: none !important;
}

.summary > li:nth-last-child(2) {
    display: none !important;
}

#book-search-input {
    display: none !important;
}
